.navbar {
  background-color: $black;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  &__item {
    font-size: $font-size-large;
    text-decoration: none;
    color: $color-primary;
    padding: 1rem;
    
    margin-right: 8rem;
  }

  &__home {
    margin-left: 10rem;
  }

  & .is-active {
    background-color: $off-white;
    border: none;
  }
}