@keyframes blink {

  10% {
    border: none;
    box-shadow: none;
  }

  15% {
    border-bottom: $border-tutorial-desktop;
    //box-shadow: $box-shadow-tutorial-desktop;
  }
}

@keyframes move-up {

  0% {
    transform: translateY(100rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes come-from-top {

  0% {
    transform: translateY(100rem);
  }

  80% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0);
  }
}