*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.indent {
  margin-right: 2rem;
}