// Colors
$dark-grey: #333333;
$grey: #666;
$black: #2B2928;
$dark-blue: #364051;
$off-white: #f7f7f7;
$color-primary: #0f9b8f;
$color-primary-light: #589b96;
$color-primary-dark: #00988b;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$breakpoint-first: 75em;
$breakpoint-second: 56.25em;
$breakpoint-third: 37.5em;

//Misc
$border-tutorial-desktop: 3px solid $off-white;
$box-shadow-tutorial-desktop: 0 4rem 4rem rgba(black, .5);